{:paths   ["src"
           "src/resources"]
 :deps    {;org.clojure/clojure {:mvn/version "1.11.1"}
           hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
           ;org.clojure/clojurescript {:mvn/version "1.10.773"}
           ;macchiato/hiccups {:mvn/version "0.4.1"}
           org.clojure/data.json {:mvn/version "2.4.0"}
           metosin/reitit {:mvn/version "0.5.11"}}}
